.table{
   display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.table-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.wide-group, .narrow-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.wide-group > *, .narrow-group > *{
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.wide-group {
  flex: 3;
}

.school-name {
  min-width: 150px;
}
.grad-date {
  min-width: 100px;
}
.narrow-group {
  flex: 2;
}

/*stack fields on very small screen sizes*/
@media (max-width: 400px){
  .table-row {
    /*display: flex;*/
    flex-direction: column;
  }
}