<form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
 
  <div class="" id="button-row">
    <button type="submit" 
    class="btn btn-success" 
    [disabled]="!educationForm.valid"
    >Save</button>

    <a (click)="onAddNew()"
    class="btn btn-default" role="button"
    >Add New</a>

     <a (click)="onCancel()" role="button"
    class="btn btn-danger" 
    >Cancel</a>

  </div>
  
 <div id="table"  formArrayName="schoolList">

  <div class="table-row" id="label-row">
      <div class="wide-group">
        <label for="schoolName">School:</label>
        <label for="gradDate">Date Graduated:</label>
      </div>
      
      <div class="narrow-group">
         <label for="degreeType">Degree:</label>
         <label for="fieldName">Field:</label>
      </div>
     
      <div class="button-padding"></div>
  </div>
    
  <div class="table-row"
     *ngFor="let educ of educationForm.get('schoolList').controls; let i = index" 
     [formGroupName]="i">

     <div class="wide-group">
        <div class="td school-name">
          <input  
            class="form-control"
            type="text" 
            required
            formControlName="schoolName"> 
        </div>

        <div class="td grad-date">
          <input  size=8
          class="form-control"
          type="date" 
          required
          formControlName="gradDate">
        </div>
      </div>

      <div class="narrow-group">
        <div class="td degree-type">
        <input  
            class="form-control"
            type="text" 
            required
            formControlName="degreeType"> 
            </div>
      
        <div class="td field-name">
        <input  
            class="form-control"
            type="text" 
            required
            formControlName="fieldName"> 
            </div>
      </div>
   
      <div class="td">
       <button type="button" 
          class="btn btn-danger"
         (click)="onDelete()"> X </button>
      </div>
      
    </div> <!-- end loop -->
 
</div> <!--end table-->
  
  
</form>